{% include "layouts/header.njk" %}
  <body>
  <article class="post_content">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
  </article>
  </body>
{% include "layouts/footer.njk" %}