<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/global.css" />
    <div class="menu">
    <ul class="menu>">
      <li class="menu"><a href="/">Home</a></li>
      <li class="menu"><a href="/disclaimer">Disclaimer</a></li>
      <li class="menu"><a href="/contact">Contact Me</a></li>
      <!-- <li class="menu" float=right><a href="#About">Remote Support</a></li> !-->
    </ul>
    </div>
    <div class="hero-image">
      <div class="hero-text">
        <h1 style="font-size:50px">Comprofix</h1>
        <p style="font-size:24px">Computer Problems Fixed</p>
      </div>
    </div>
    {% block head %}
    {% endblock %}
  </head>